# Different types of sampling

In [49]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import random
from sklearn.model_selection import train_test_split

# Simple Random Sampling

In [6]:
#Random Sampling from a list
My_list = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

In [7]:
print(random.sample(My_list,8))

[14, 13, 2, 12, 10, 8, 16, 17]

In [28]:
df=sns.load_dataset('iris')
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [26]:
Random Sampling from data set
subset = df.sample(n=100)
subset

     sepal_length  sepal_width  petal_length  petal_width     species
95            5.7          3.0           4.2          1.2  versicolor
13            4.3          3.0           1.1          0.1      setosa
83            6.0          2.7           5.1          1.6  versicolor
40            5.0          3.5           1.3          0.3      setosa
69            5.6          2.5           3.9          1.1  versicolor
..            ...          ...           ...          ...         ...
51            6.4          3.2           4.5          1.5  versicolor
36            5.5          3.5           1.3          0.2      setosa
105           7.6          3.0           6.6          2.1   virginica
16            5.4          3.9           1.3          0.4      setosa
7             5.0          3.4           1.5          0.2      setosa

[100 rows x 5 columns]

# #Statified Data Sampling
df1 = df.head(4)
df1

In [33]:
df2 = df.tail(4)
df2

     sepal_length  sepal_width  petal_length  petal_width    species
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [39]:
data =[df1,df2]

In [41]:
data_final = pd.concat(data)
data_final

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [46]:
x = data_final.drop('species',axis=1)
print(x)

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

In [48]:
y = data_final.species
y

0         setosa
1         setosa
2         setosa
3         setosa
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, dtype: object

In [57]:
x_train,x_test,y_train,y_test= train_test_split(x,y,test_size=0.5,random_state=3,stratify=y)

In [58]:
y_train

148    virginica
147    virginica
1         setosa
3         setosa
Name: species, dtype: object

In [59]:
y_test

0         setosa
2         setosa
146    virginica
149    virginica
Name: species, dtype: object

# Systematic Sampling
number_of_students = 15
data1= {'Id': np.arange(1, number_of_students+1).tolist(),
        'height': [159, 171, 158, 162, 162, 177, 160, 175,
                   168, 171, 178, 178, 173, 177, 164]}
 
df2= pd.DataFrame(data1)
 
def systematic_sampling(df2,step):
 
    indexes = np.arange(0, len(df2),step=step)
    systematic_sample = df2.iloc[indexes]
    return systematic_sample
 
 
systematic_sample = systematic_sampling(df2,3)
 
display(systematic_sample)
 
print()
 
systematic_data = round(systematic_sample['height'].mean())
print("Average Height in cm: ", systematic_data)